.footerContainer {
	margin: 0;
	padding: 0 50px;
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	background-color: #333;
	color: white;
	z-index: 999;
}

.socialConatiner {
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.socialicon {
	width: 25px;
	height: 25px;
	margin: 20px;
}

.socialicon:hover {
	transform: scale(1.5);
}

@media screen and (max-width: 768px) {
	.footerContainer h3 {
		font-size: 13px;
		margin-bottom: 20px;
	}
	.socialicon {
		width: 15px;
		height: 15px;
	}
}

@media screen and (max-width: 425px) {
	.footerContainer {
		padding: 0 22px;
		flex-direction: column;
		height: 110px;
	}
	.footerContainer h3 {
		font-size: 16px;
		margin-bottom: 0;
	}
	.socialicon {
		width: 30px;
		height: 30px;
	}
}
