.navContainer {
	margin: 30px auto;
	width: 80%;
	height: 10%;
	display: flex;
	justify-content: space-between;
}

.navHeader {
	display: flex;
	justify-content: space-evenly;
	width: 40%;
	height: 50%;
}

.navImage {
	width: 60px;
	height: 60px;
	border-radius: 15px;
}

.navTitle {
	width: 30%;
	height: 40px;
	margin: auto;
}

.navLinkContainer {
	width: 40%;
	display: flex;
	margin: 15px 0;
	justify-content: space-evenly;
}

.navLink a {
	border: 1px solid white;
	background-color: black;
	width: 40px;
	height: 10px;
	padding: 10px 40px;
	color: white;
	margin: 0 10px;
	font-size: 15px;
}

.navLink a:hover {
	transform: scale(1.2);
	border: 1px solid black;
	background: transparent;
	color: black;
}
