@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

.container {
	width: 80%;
	height: 70%;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid black;
	align-items: center;
	border-radius: 0 50px 0 50px;
	overflow: hidden;
	box-shadow: 3px 5px #888888;
	margin-bottom: 100px;
}

.singlePost {
	align-items: center;
}

.blogTitle {
	text-decoration: underline;
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
	font-family: "Roboto Slab", serif;
}

.singleImage {
	display: block;
	width: 100%;
	margin: 0 auto;
	height: 60%;
	border-radius: 0 5% 0 0;
	border: 1px solid black;
}

.singleImage:hover {
	transform: scale(1.1);
}

.blogAuthor {
	margin-top: 50px;
	text-align: right;
	margin-right: 50px;
	font-family: "Roboto Slab", serif;
	right: 0;
	bottom: 0;
}

.blogAuthor span {
	text-decoration: underline;
	font-size: 20px;
}

.blogContent {
	text-align: justify;
	width: 90%;
	margin: auto;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 800;
	line-height: 30px;
}

.backButton {
	width: 200px;
	height: 40px;
	border-radius: 50px;
	padding-top: 10px;
	text-align: center;
	background-color: cadetblue;
	border: 1px solid black;
	margin-bottom: 20px;
}

.backbutton:hover {
	background-color: transparent;
	border: 1px solid cadetblue;
}
.relatedBlog {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.relatedBlogConatiner {
	width: 150px;
	height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
}

.relatedBlogImage {
	width: 100%;
}
.relatedBlogImage:horizontal {
	transform: scale(1.3);
}

.relatedBlogTitle {
	text-align: center;
}

@media screen and (max-width: 736px) {
	.relatedBlog {
		height: 150px;
	}
}

@media screen and (max-width: 556px) {
	.relatedBlog {
		flex-direction: column;
		align-items: center;
		height: 250px;
	}
	.relatedBlogConatiner {
		flex-direction: column;
	}
}
